﻿@model FizzBuzz.Web.Models.FizzBuzzModel
@{
    ViewBag.Title = "Home Page";
}

<h3>FizzBuzz</h3>

<form id="FizzBuzzForm" method="post" style="padding-top:15px;">
    <div class="row">
        <div class="col-xs-1">Enter a Number:</div>
        <div>
            @Html.TextBoxFor(m => m.InputNumber)
            <span style="color:red">
                @Html.ValidationMessageFor(m => m.InputNumber)
            </span>

        </div>
    </div>

    <div class="row" style="padding-top:15px;">
        <div class="col-xs-1"><input type="submit" name="Submit" value="Submit" /></div>
    </div>

    @if (Model.InputNumber > 0 && Model.Records != null)
           {

          <div class="row" style="padding:15px;">
             <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr><th colspan = "10" > Result </th ></tr >
                     </thead>
                   <tbody>
                    @foreach(var number in Model.Records)
                        {
                            <tr>
                                <td>
                                @number
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</form>